body {
  font-size: 16px;
  font-family: sans-serif;
  color: #191970;
  background-image: url(square.png);
}
.main-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
}
.incoming-container {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.container-header {
  font-size: 20px;
}
.incoming-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.incoming-msg-container {
  display: flex;
  width: 100%;
  height: 18%;
  border: 1px solid #191970;
  border-bottom: none;
  background-color: #ffffff;
  padding: 10px 20px;
  box-sizing: border-box;
}
.incoming-msg-container:last-child {
  border-bottom: 1px solid #191970;
}
.incoming-email {
  width: 50%;
}
.incoming-subject {
  width: 25%;
}
.incoming-date {
  width: 25%;
  text-align: right;
}
